@keyframes progress-fill {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.fill {
  animation-name: progress-fill;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
